@import "tailwindcss";
body{
    margin: 0;
    background: #333646;
    font-family: 'poppins',Helvetica, sans-serif;
    color: #ebebec;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #ebebec;
}
p{
    color: #b7b7bc;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 30px;
    margin: 1em 0;
}
b{
    color: #fff;
}
small{
    color: #b7b7bc;
}
ul{
    list-style-type: none;
}
h2{
    margin: 0.5em 0 0.9em 0;
    font-size: 1.6em;
    font-weight: 500;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background: #333646;
    min-height: 4em 2em;
    position: relative;
}
section, footer, header{
    padding: 4em 2em;
}
.main-image{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-70);
    width: 100%;
    max-width: 500px;
    filter: drop-shadow(0 0 25px rgba(0,0,0,0.5));
}
nav, .header-body, .about .container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: start;
    position: relative;
}
nav{
    z-index: 9;
}
nav li{
    padding: 0.5em 0;
    display: inline-block;
    margin-right: 1.5em;
}
nav a:not(.logo){
    font-size: 1.3em;
    font-weight: 500;
    color: #b7b7bc;
}
nav a:hover{
    color: ;
}
nav li.active{
    color: #ebebec;
    position: relative;
}
nav .active::before{
    content: '';
    background-color: #ffc25c;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: -0.8em;
    left: 50%;
    transform: translateX(-50%);
}
.logo img{
    width: 3.6em;
    height: 3.6em;
}
.menu-btn{
    font-size: 1.5em;
    color: #ebebec;
    display: none;
    cursor: pointer;
}

nav .menu-open{
    height: 14.5em;

}

.header-body{
    margin-top: 5em;
}
.title{
    font-size: 5em;
    position: relative;
    line-height: 1em;
    margin-bottom: 1.5em;
}
.title::before{
    content: '';
    background-color: #ffc25c;
    width: 5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -0.5em;
    left: 0;
    /* transform: translateX(-50%); */
}
